<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Resume</title>
    <style type="text/css">
      .title {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="title">
      <h1>{{ publicName }}</h1>
    </div>
  </body>
</html>