<!DOCTYPE html>
<html>
  <head>
    <title>Cv</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap" rel="stylesheet">
    <style type="text/css">{{{ __style__ }}}</style>
  </head>
  <body>
    <div class="container main">
      <div class="row">
        <div class="col-md-4 section1">
          <div class="img">
            <img src="image/logo.png">
          </div>
          <div class="sect1-cont">
            <div class="education">
              <h2>Education</h2>
              <div class="edu_cont">
                <span>2012-2014</span>
                <h3>Your Degree Name</h3>
                <p>College / Univeristy Name</p>
              </div>
              <div class="edu_cont">
                <span>2012-2014</span>
                <h3>Your Degree Name</h3>
                <p>College / Univeristy Name</p>
              </div>
            </div>
            <div class=" skil-header">
              <h2>My Skills</h2>
              <div class="skill_cont">
                <p>Skill Name</p>
                <div class="skill_container">
                  <div class="skill html">
                    <span>80%</span>
                  </div>
                </div>
                <p>Skill Name</p>
                <div class="skill_container">
                  <div class="skill php">
                    <span>60%</span>
                  </div>
                </div>
                <p>Skill Name</p>
                <div class="skill_container">
                  <div class="skill skill3">
                    <span>50%</span>
                  </div>
                </div>
                <p>Skill Name</p>
                <div class="skill_container">
                  <div class="skill skill4">
                    <span>90%</span>
                  </div>
                </div>
                <p>Skill Name</p>
                <div class="skill_container">
                  <div class="skill skill5">
                    <span>70%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact">
              <h2>Contact</h2>
              <ul class="social-ul">
                <li>
                  <!-- <div class="social-img"> -->
                  <img src="image/address1.png" class="small-icon">
                  <!-- </div> -->
                  <p>Xyx Street <br> AbC city </p>
                </li>
                <li>
                  <img src="image/ph1.png">
                  <p>0317-6695897</p>
                </li>
                <li>
                  <img src="image/mail.png">
                  <p>www.youremail@server.com</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 section2">
          <div class="heading">
            <div class="mainhead">
              <h1>Your Name</h1>
              <h4>Your Job Title</h4>
            </div>
          </div>
          <!------------------- Skills -------------------- -->
          <div class="info">
            <div class="heading">
              <h2>Profile</h2>
            </div>
            <!-- <ul class="info-ul"><li> -->
            <p>IT consultent with strong theoretical skills and a passion for OpenSource software. <br>
              <br> DevOps Engineer specialized in automation and in custom application development experienced with large projects and hetrogenius infastrucre. <br>
              <br> Lorem ipsum dolor sit amet, consectetr adipisicing elit Lorem ipsum dolor sit amet, consectetr adipisicing elit
            </p>
          </div>
          <div class="exp">
            <div class="heading">
              <h2>Experience</h2>
            </div>
            <div class="exp-cont">
              <div class="exp-year">
                <span>2012-2016</span>
              </div>
              <div class="exp-detail">
                <h3>DevOps Full stack Developer</h3>
                <h6>Research and development</h6>
                <p>Lorem ipsum dolor sit amet, consectetr adipisicing elit Lorem ipsum dolor sit amet, consectetr adipisicing elit</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetr adipisicing elit</li>
                  <li>Lorem ipsum dolor sit amet, consectetr adipisicing elit</li>
                  <li>Lorem ipsum dolor sit amet, consectetr adipisicing elit</li>
                  <li>Lorem ipsum dolor sit amet, consectetr adipisicing elit</li>
                </ul>
                <b>Technolgies</b>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetr adipisicing elit</li>
                  <li>Lorem ipsum dolor sit amet, consectetr adipisicing elit</li>
                  <li>Lorem ipsum dolor sit amet, consectetr adipisicing elit</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="reffrence">
            <div class="heading">
              <h2>Reference</h2>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>