<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">{{ __style__ }}</style>
    <meta charset="utf-8" />
    <title>Resume</title>
  </head>
  <body>
    <div class="title">
      <h1>{{ publicName }}</h1>
    </div>
  </body>
</html>